

<table style="width:92.0%" width="92%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
       <tr style="height:40.25pt">
          <td colspan="2" style="width:67.0%;border:solid black 1.0pt;background:#4f81bd;padding:0in 5.4pt 0in 5.4pt;height:40.25pt" width="67%">
             <p class="MsoNormal" style="margin-left:47.25pt;text-align:center" align="center"><span style="font-size:10.0pt;font-family:Symbol;color:black">·</span><span style="font-size:7.0pt;font-family:&quot;Times New Roman&quot;,serif;color:black">&nbsp; </span><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Recruiter Assessment on the candidate.</span><u></u><u></u></p>
          </td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Name of Candidate</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">PEKETI SIVA KUMAR</td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Current Organization</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">AGILIANCE INDIA PVT LTD (ACQUIRED BY RESOLVER)</td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Total-experience</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">6.4 YEARS</td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Relevant Experience</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">6 YEARS</td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Current Designation/Role/Grade</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">SENIOR SOFTWARE ENGINEER</td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">The current role reports in to</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%"></td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Technical skills ( As applicable)</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">&nbsp;</span><u>JAVA SPRING MVC, SPRING RESTful SERVICES, HIBERNATE, SWAGGER 2.0, MYSQL, JAVASCRIPT, ANGULAR</u><u></u></p>
          </td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Domain &amp; Experience</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%"><ul><li>GRC (Governance Risk Compliance) 4 Years</li>
            <li>Customer Support System (Governance Risk Compliance) 1 Year</li>
            <li>Product Development 1 Year</li></ul></td>
       </tr>
       <tr style="height:19.45pt">
          <td colspan="2" style="width:67.0%;border:solid black 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:19.45pt" width="67%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">&nbsp;</span><u></u><u></u></p>
          </td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Core Competencies/Strengths</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">
             <p class="MsoNormal" style="margin-left:.1pt;text-align:center" align="center"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">&nbsp;</span><u>JAVA</u><u>JAVASCRIPT</u><u>SPRINT RESTful Services</u></p>
          </td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">International/Onsite Experience</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">N/A</td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Communication Rating (1-5 scale) 5 Being highest.</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">4</td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Highest Qualification</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">Master of Computer Applications</td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Reason for change</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">Domain change, Financial Plans</td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Why is he/she keen in&nbsp;Broadridge?</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%"></td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Why do you think the candidate is the right fit for this role?</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">&nbsp;</span><u></u><u></u></p>
          </td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Applied with &nbsp;Broadridge: Yes/ No</span><u></u><u></u></p>
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">If Applied &nbsp;how many Months/year : ?</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">&nbsp;</span><u></u><u></u></p>
          </td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Total CTC</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">9.3 LPA</td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">Expected CTC</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">
             <p class="MsoNormal" style="margin-left:.1pt"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">&nbsp;</span><u>13.5 LPA</u><u></u></p>
          </td>
       </tr>
       <tr style="height:20.1pt">
          <td style="width:19.0%;border:solid black 1.0pt;border-top:none;background:#f2f2f2;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="19%">
             <p class="MsoNormal"><span style="font-size:12.0pt;font-family:&quot;Calibri Light&quot;,sans-serif;color:black">NP</span><u></u><u></u></p>
          </td>
          <td style="width:47.0%;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:20.1pt" width="47%">1 Month</td>
       </tr>
    </tbody>
 </table>
 
 